{% extends 'layout/layoutMain.html' %}

{% block pageTitle%} SNES Games Data Display {% endblock %}

{% block content %}

	  <h1>Games</h1>

			<table>
				<tr>
					<th>Title</th>
					<th>Release Date</th>
					<th>Rating</th>
					<th>Description</th>
				</tr>
			
			
				{% for SnesGame in data %}
				
				
				<tr>
					<td>{{SnesGame.gameName}}</td>
					<td>{{SnesGame.releaseDate}}</td>
					<td>{{SnesGame.rating}}</td>
					<td>{{SnesGame.description}}</td>
				</tr>
				
				
				
				{% endfor %}
			
			</table>


{% endblock %}